server
{
	port 8000
	server_name localhost
	error_page error.html
	index_pages index.html index2.html
	index_pages sdss.html
	root /
	auto_index on
	method GET POST PUT DELETE
	cgi_extension .bla
	location /abc
	{
		root ef
		index_pages index_abc.html
		error_page error_abc.html
		method GET
		method TTT
		cgi_extension .bla .php
		cgi_extension .cpp .php
	}
}