server
{
	port 8000
	server_name localhost
	error_page error.html
	index_pages index.html index2.html
	root /
	client_max_body_size 23
	autoindex on
	auth_basic_user_file aaa/dddd

	location /srcs
	{
		root ef
		client_max_body_size 231
		index_pages index_abc.html
		error_page error_abc.html
		auth_basic_user_file see/sdsfsd
	}
	location /html
	{
		client_max_body_size 100
		auth_basic_user_file .htpasswd
	}
}