server
{
	port 8000
	server_name localhost
	error_page error.html
	index_pages index.html index2.html
	cgi_extension .bla .php
}

server
{
	port 8001
	server_name hello
	cgi_extension .bla .ppp .ff
}

server
{
	port 8002
	host 127.0.0.1
	cgi_extension .bla
	error_page error2.html
	client_max_body_size 123
	index_pages index.html
}

