server
{
	port 8000
	root /test/directory
	server_name localhost
	error_page error.html
	index_pages index.html index2.html
	
	location /abc
	{
		index_abc.html
		error_page error_abc.html
	}
}

server
{
	port 8001
	error_page error.html
	index_pages index.html
}

server
{
	port 8002
	error_page error.html
	index_pages index.html
}
