server
{
	port 8000
	server_name localhost
	error_page error.html
	index_pages index2.html
	index_pages sdss.html
	root /
	autoindex on
	cgi_program_path /usr/bin/php ft_tester/bla_tester
	location /gnl
	{
		index_pages index_abc.html
		error_page error_abc.html
		method GET
		method TTT
		cgi_program_path /usr/bin/php ft_tester/bla_tester
	}
}