server
{
	host 127.0.0.1
	port 8000
	server_name localhost
	error_page error.html
	index_pages index.html
	root /
}

server
{
	host 127.0.0.1
	port 8000
	server_name yunslee
	error_page error.html
	index_pages index2.html
	root /
}

server
{
	host 127.0.0.1
	port 8000
	server_name yunslee2
	error_page error.html
	index_pages index3.html
	root /
}

server
{
	host 10.28.8.4
	port 8000
	server_name 10.28.8.4
	error_page error.html
	index_pages index.html
	root /
}


server
{
	host 10.28.8.4
	port 8001
	server_name 10.28.8.4
	error_page error.html
	index_pages index2.html
	root /
}

server
{
	host 10.28.8.4
	port 8002
	server_name 10.28.8.4
	error_page error.html
	index_pages index3.html
	root /
	autoindex on
}

server
{
	host 169.254.103.197
	port 8000
	server_name yunslee
	error_page error.html
	index_pages index.html
	root /
}

server
{
	host 169.254.103.197
	port 8001
	server_name yunslee2
	error_page error.html
	index_pages index2.html
	root /
}