server
{
	port 8000
	timeout 200
	cgi_extension .bla
	index_pages index.html
	method GET
	autoindex off
	location /put_test
	{
		client_max_body_size 100
		root YoupiBanane/directory
		method PUT
	}
	location /post_body
	{
		method POST
		client_max_body_size 200
		root YoupiBanane/directory
		autoindex on
		index_pages temp
	}
	location /directory
	{
		client_max_body_size 300
		method GET POST
		root YoupiBanane
		index_pages youpi.bad_extension
	}
}