server
{
	port 8001
	host 127.0.0.1
	error_page error2.html
	client_max_body_size 123
	index_pages index.html
	
}

server
{
	port 8001
	host 10.28.8.4
	server_name yunslee
	error_page error.html
	index_pages index2.html
	autoindex on
	timeout 10
}
server
{
	port 8001
	host 10.28.8.4
	server_name yunslee22
	error_page error.html
	index_pages index2.html
	autoindex off
	timeout 10
}

server
{
	port 8002
	host 127.0.0.1
	server_name yunslee
	error_page error.html
	index_pages index.html
	autoindex off
	timeout 200
}

server
{
	port 8002
	host 127.0.0.1
	error_page error.html
	index_pages 2index.html
	autoindex on
	timeout 200
}
