server
{
	host 127.0.0.1
	port 8000
	timeout 200
	cgi_extension .bla
	index_pages index.html
	method GET
	location /put_test
	{
		root YoupiBanane/directory
		method PUT GET
	}
	location /post_body
	{
		method POST GET
		client_max_body_size 100
		root YoupiBanane/directory
		autoindex on
	}
	location /directory
	{
		method GET POST
		root YoupiBanane
		index_pages youpi.bad_extension
	}
}