server
{
	host 127.0.0.1
	port 8000
	cgi_extension .php .bla
	cgi_program_path /usr/bin/php ft_tester/bla_tester
	index_pages index.html
	error_page error.html
	method GET
	location /put_test
	{
		method PUT GET
		root YoupiBanane/directory
	}
	location /post_body
	{
		method POST GET
		client_max_body_size 100
		root YoupiBanane/directory
		autoindex on
	}
	location /directory
	{
		method GET POST
		root YoupiBanane
		index_pages youpi.bad_extension
	}
	location /ft_tester
	{
		method GET
		auth_basic_user_file .htpasswd
		autoindex on
	}
}