server
{
	port 8000
	root /test/directory
	server_name localhost
	error_page error.html
	index_pages index.html index5.html
	
	location /abc/*
	{
		root aaa
		index_pages index1.html index2.php index3.txt
		error_page error1.html
	}
	location /def
	{
		root bbb
		error_page error2.html
	}
}

server
{
	server_name 127.0.0.1
	port 8001
	error_page error4.html
	index_pages index5.html
}

server
{
	server_name 127.0.0.1
	port 8002
	error_page error4.html
	index_pages index5.html
}
